{% extends 'base.html' %} 
{% import 'macros.html' as macro %} 
{%block content%}
<div class="container">
  <div class="row">
    <h2><b>Pitch App</b></h2>
    {% for pitch in pitches %} 
    <div class="col-md-4">
      <div class="content">
        <div class="card">
          <div class="card-header">
            <h4><b>This pitch was posted by {{name}}</b></h4>
          </div>
          <div class="card-body">
            {{pitch.content}} <br>
            <b>{{pitch.add_description}}</b>

          </div>
          <div class="footer">
            
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}